<header id="header" class="_l-header" data-l="header" data-l-header-type="<%= headerType %>" role="banner">
  <div class="_c-container">
    <div class="_c-row _c-row--nowrap _c-row--lg-margin _c-row--middle">
      <div class="_c-row__col _c-row__col--auto">
        <%- include('../_parts/_site-branding') %>
      </div>
      <div class="_c-row__col _c-row__col--auto _u-hidden-sm _u-hidden-md">
        <div class="_u-pull-right">
          <%- include('../_parts/_global-nav') %>
        </div>
      </div>
    </div>
    <%- include('../_parts/_hamburger-btn') %>
  </div>
</header>
