<!DOCTYPE html>
<html lang="ja" data-sticky-footer="true">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <% if (typeof title === undefined || !title) { %>
  <title>integrity</title>
  <% } else { %>
  <title><%= title %> - integrity</title>
  <% } %>
  <link rel="stylesheet" href="./assets/css/style.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
