<!DOCTYPE html>
<html lang="ja" data-sticky-footer="true">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <% if (typeof title === undefined || !title) { %>
  <title>大江戸Ruby会議07</title>
  <% } else { %>
  <title><%= title %> - 大江戸Ruby会議07</title>
  <% } %>
  <link rel="stylesheet" href="./assets/css/style.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <meta name="description" content="2018年9月15日（土）大江戸Ruby会議07が開催されます！ 場所は、浅草 雷5656会館 5F・6F『ときわホール』。お申込はこちらからどうぞ。">

  <!-- OGP -->
  <meta property="og:title"       content="大江戸Ruby会議07">
  <meta property="og:description" content="2018年9月15日（土）大江戸Ruby会議07が開催されます！ 場所は、浅草 雷5656会館 5F・6F『ときわホール』。お申込はこちらからどうぞ。" />
  <meta property="og:type"        content="website" />
  <meta property="og:url"         content="https://regional.rubykaigi.org/oedo07/" />
  <meta property="og:image"       content="https://i.gyazo.com/bed7ce54118d2a69ce6ee819b42169ac.png" />
  <meta property="fb:app_id"      content="998899003637543" />
  <meta name="twitter:card"       content="summary_large_image" />
  <!-- <meta name="twitter:site"       content="@foo_bar" /> -->
  <!-- <meta name="twitter:creator"    content="@foo_bar" /> -->
  <!-- /OGP -->

</head>
