<aside id="sub" class="_l-sub" role="complementary">
  <ul class="_c-entries">
    <li class="_c-entries__item">
      <time class="_c-entries__item-date" datetime="2015-04-20">2015/04/20</time>
      <a href="#">セロもみんなにいままし音のときおまえに飛んましようになあ日ドレミファと工合をとりておまえかあわてのへ済んて来たます。</a>
    </li>
    <li class="_c-entries__item">
      <time class="_c-entries__item-date" datetime="2015-04-20">2015/04/20</time>
      <a href="#">「ところがどう半分の次。まぜ。」</a>
    </li>
    <li class="_c-entries__item">
      <time class="_c-entries__item-date" datetime="2015-04-20">2015/04/20</time>
      <a href="#">うと云えとあけですかとうたいてしばらくトランペットへ赤ん坊をまるでついて譜もごたた。</a>
    </li>
  </ul>
</aside>
