.#{$_prefix}l-header {
  z-index: 2;
  box-shadow: 1px 0 3px rgba($_color-black, .1);
  transition: background-color $_transition-duration $_transition-function-timing,
              color $_transition-duration $_transition-function-timing;
  @include _padding(.5, 0);

  &, .p-global-nav .#{$_prefix}c-navbar__item > a {
    color: $_color-text;
  }

  @include _media-min(md) {
    padding: 0;
  }

  > .#{$_prefix}c-container {
    position: relative;
  }

  .p-site-branding {
    @include _padding(.5, 0);
  }

  .#{$_prefix}c-hamburger-btn {
    position: absolute;
    top: 50%;
    right: ($_base-line-height / 2);
    transform: translateY(-50%);

    @include _media-min(md) {
      right: $_base-line-height;
    }
  }

  html[data-scrolled="true"] & {
    background-color: rgba(#fff, .8);
  }

  &[data-l-header-type="overlay"] {
    html[data-scrolled="false"] & {
      box-shadow: none;

      &, .p-global-nav .#{$_prefix}c-navbar__item > a {
        color: #fff;
      }

      .#{$_prefix}c-hamburger-btn {
        &__bar {
          background-color: #fff;
        }

        &[aria-expanded="true"] {
          .#{$_prefix}c-hamburger-btn__bar:nth-child(2) {
            background-color: transparent !important;
          }
        }
      }
    }
  }
}
