$_between-lines: .375rem;

$_font-path: '../font/basis';

$_h1-font-size-scale: 1;
$_h2-font-size-scale: 2;
$_h3-font-size-scale: 1.75;
$_h4-font-size-scale: 1.5;
$_h5-font-size-scale: 1.25;
$_h6-font-size-scale: 1.25;

$color-main   : #f3f8f8;
$color-accent : #9ed0d0;
$color-primary: #9ed0d0;
$color-success: #A2DDA4;
$color-info   : #A4E1E7;
$color-warning: #C9C756;
$color-danger : #D8575C;
