<div class="_c-copyright">
  <div class="_c-container">
    Illustration and design by <a href="https://twitter.com/llminatoll" target="_blank">llminatoll</a> / Template by <a href="http://2inc.org" target="_blank">Monkey Wrench</a>
  </div>
</div>
