<nav id="drawer-nav" class="_c-drawer__body _c-drawer__body--fixed" data-c="drawer__body" role="navigation" aria-hidden="true">
  <ul class="_c-drawer__menu">
    <li class="_c-drawer__item"><a href="./">ホーム</a></li>
    <li class="_c-drawer__item"><a href="./blog.html">ブログ</a></li>
    <li class="_c-drawer__item"><a href="./components.html">コンポーネント</a></li>
  </ul>
</nav>
