<nav class="p-footer-nav">
  <div class="_c-row _c-row--margin">
    <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-3">
      <ul class="p-footer-nav__list">
        <li class="p-footer-nav__item"><a href="#">晩にぶっつかっだしてます</a></li>
        <li class="p-footer-nav__item"><a href="#">ゴーシュじゃ弾きた</a></li>
        <li class="p-footer-nav__item"><a href="#">ガラス前歌っうままを</a></li>
        <li class="p-footer-nav__item"><a href="#">前に仲間をもトマト</a></li>
      </ul>
    </div>
    <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-3">
      <ul class="p-footer-nav__list">
        <li class="p-footer-nav__item"><a href="#">あたりやっましな</a></li>
        <li class="p-footer-nav__item"><a href="#">その楽長遅く扉はそれか</a></li>
        <li class="p-footer-nav__item"><a href="#">子どもまし</a></li>
        <li class="p-footer-nav__item"><a href="#">よよくもんを</a></li>
      </ul>
    </div>
    <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-3">
      <ul class="p-footer-nav__list">
        <li class="p-footer-nav__item"><a href="#">踏ん巻汁をわからでてる</a></li>
        <li class="p-footer-nav__item"><a href="#">でしまし。甘藍と</a></li>
        <li class="p-footer-nav__item"><a href="#">習えてもみんなは用の頭大</a></li>
        <li class="p-footer-nav__item"><a href="#">行くすぎれないゴーシュ</a></li>
      </ul>
    </div>
  </div>
</nav>
