<nav class="p-global-nav" role="navigation">
  <ul class="_c-navbar _c-navbar--auto">
    <li class="_c-navbar__item" data-c="navbar__item"><a href="./">ホーム</a></li>
    <li class="_c-navbar__item" data-c="navbar__item"><a href="./blog.html">ブログ</a></li>
    <li class="_c-navbar__item" data-c="navbar__item"><a href="./components.html">コンポーネント</a></li>
  </ul>
</nav>
