<header class="_c-page-header" style="background-image: url('./assets/images/photo-1449089299624-89ce41e8306c.jpeg')">
  <div class="_c-container">
    <h1 class="_c-page-header__title"><%= title %></h1>
  </div>
</header>
