<div class="_c-pagination">
  <a class="_c-pagination__item-link"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
  <span class="_c-pagination__item" aria-current="page">1</span>
  <a class="_c-pagination__item-link">2</a>
  <span class="_c-pagination__item-ellipsis">...</span>
  <a class="_c-pagination__item-link">10</a>
  <a class="_c-pagination__item-link"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
</div>
